/* Dashboard.css */
.main-content {
    width: 80%;
    padding: 40px;
  }
  
  .card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .card p {
    color: #718096;
  }
  
  .card .flex {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .card .flex span {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .card .flex .ml-auto {
    margin-left: auto;
  }
  